* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
}

label {
    font-size: 24px;
    font-weight: bold;
}

.card {
    display: flex;
    height: 500px;
}

h1 {
    display: inline;
}

#timer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}

.view {
    font-size: 20px;
    color: goldenrod;
    border: none;
    background: white;
    text-decoration: none;
}

#question {
    font: 24px;
    border-bottom: black 2px solid;
    margin-left: 10px;
    margin-right: 10px;
}

.btn {
    display: block;
    background: rgb(128, 0, 75);
    text-align: left;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    color: lightblue;
    border-radius: 8px;
    font-size: 16px;
    border: white;
}

.quizbtn {
    background: rgb(128, 0, 75);
    color: lightblue;
    border-radius: 8px;
    font-size: 16px;
    border: white;
}


#start-button {
    font-size: 32px;
    padding: 8px 32px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin-top: 24px;
    align-items: center;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.response {
    font-size: 32px;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 2px black solid;
    font-style: italic;
}

button:hover {
    cursor: pointer;
}

